<div class="unlogged-title">
	<h2>Esqueceu sua senha?</h2>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <section style="width: 20%;">
	  <div class="field">
	    <%= f.label :email %>
	    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Me envie instruções para alterar senha", class: "btn btn-primary" %>
	  </div>
  </section>
<% end %>
