<!DOCTYPE html>
<html>
  <head>
    <title>Testebanco</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if notice %>
  		<p class="alert alert-success"><%= notice %></p>
  	<% end %>
  	<% if alert %>
  		<p class="alert alert-danger"><%= alert %></p>
  	<% end %>

    <% if user_signed_in? %>
      <ul id="menu-main" >
        <li> <%= link_to 'Início', root_path, :class => 'navbar-link' %> </li>
        <li> <%= link_to 'Sacar', withdraw_page_accounts_path, :class => 'navbar-link' %> </li>
        <li> <%= link_to 'Depositar', deposit_page_accounts_path, :class => 'navbar-link' %> </li>
        <li> <%= link_to 'Visualizar Extrato', history_accounts_path, :class => 'navbar-link' %> </li>
        <li> <%= link_to 'Fazer Transferência', transfer_page_accounts_path, :class => 'navbar-link' %> </li>
        <li> <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> </li>
        <li> <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
        <li> <%= link_to "Cancelar conta", registration_path("user"), data: { confirm: "Deseja mesmo encerrar sua conta?" }, method: :delete %> </li>
      </ul>
      <div class="welcome"> 
        Olá <strong><%= current_user.name %></strong> 
      </div>
    <% else %>
      <ul id="menu-main" >
        <li> <%= link_to "Cadastrar", new_user_registration_path, :class => 'navbar-link'  %> </li>
        <li> <%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %> </li>
      </ul>
    <% end %>


    <%= yield %>
  </body>
</html>
