<!DOCTYPE html>
<html>
  <head>
    <title>Testebanco</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if notice %>
  		<p class="alert alert-success"><%= notice %></p>
  	<% end %>
  	<% if alert %>
  		<p class="alert alert-danger"><%= alert %></p>
  	<% end %>

    <p class="navbar-text float-right">
      <% if user_signed_in? %>
        <strong><%= current_user.name %></strong>.
        <%= link_to 'Home', root_path, :class => 'navbar-link' %> |
        <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> |
        <%= link_to "Cancelar conta", registration_path("user"), data: { confirm: "Deseja mesmo encerrar sua conta?" }, method: :delete %>
      <% else %>
        <%= link_to "Cadastrar", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </p>
    
    <%= yield %>
  </body>
</html>
