<div class="msgerror">
	<% unless @account.errors.messages.empty? %>
		<%= render "devise/shared/error_messages", resource: @account %>
	<% end %>
</div>

<div>
	<h1>
		<strong>Depósito</strong>
	</h1>
	<h4>Meu saldo: <%= number_to_currency(@account.money) %> </h4>
</div>

<section>
	<%= form_tag(deposit_accounts_path, method: :post, class: "form-horizontal") do %>
		<div class="field">
			<label> Defina o valor a depositar </label>
			<%= number_field_tag :deposit_value, number_with_precision(0.00, precision: 2), step: 0.01 %>
		</div>

		<%= submit_tag "Depositar", class: "btn btn-primary" %>
	<% end %>
</section>
